/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
.AdminLogin{
    display: flex;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.admin{
    display: flex;
    margin: 80px;
    padding: 40px;

}