.UserLogin{
    background:crimson;
    height: 50vh;
    width: 400px;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
    margin-left:0px;
}
.UserLogin h1{
  margin-left: 70px;  
}
